@media screen and (max-width: 992px) {
    .header__download {
        display: none;
    }
    .header {
        margin-bottom: 70px;
    }
    .title span {
        font-size: 54px;
    }
    .text {
        font-size: 14px;
        line-height: 18px;
    }
    .btn-learn {
        min-width: 150px;
    }
    .container {
        padding-inline: 15px;
    }
    .header__list {
        gap: 25px;
    }
    .wrapper {
        padding: 50px;
    }
    .main__ellise {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        padding: 25px;
    }
    .header {
        margin-bottom: 30px;        
    }
    .header__list {
        position: fixed;
        padding: 50px;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        background: linear-gradient(93.22deg, #535252 0%, #201f1f 100%);
        font-size: 18px;
        left: 0;
        top: 0;
        gap: 50px;
        transform: translateX(-150%);
        transition: all .3s;
    }
    li {
        transform: translateX(-150%);
        transition: all .3s;
    }
    
    .burger {
        display: flex;
    }    
    .header__list.active {
        transform: translateX(0);
    }
    .header__list.active li {
        transform: translateX(0);
    }
    /*----------------------------------------------------------------*/
    li:nth-child(n+1) {
        transition-delay: 0.1s;
    }
    li:nth-child(n+2) {
        transition-delay: 0.2s;
    }
    li:nth-child(n+3) {
        transition-delay: 0.3s;
    }
    /*----------------------------------------------------------------*/
    .title span {
        font-size: 30px;
    }
    .load-icon {
        padding: 10px;
    }
    .main__ellise {
        margin-bottom: 70px;
    }
    .main__link, .btn-learn {
        width: 100%;
    }
}
